.dataManagement button {
  width: 300px;
  height: 30px;
  margin-top: 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  border: 0;

  font-size: 20px;
  line-height: 20px;
  background-color: white;

  border: solid 1px #b8babc;
}

.dataManagement button:active {
  background-color:  #a1a1a1;
}
