.nice-select {
  position: relative;
  min-width: 200px;
}

.nice-select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.nice-select select {
  -webkit-appearance: none;
  padding: 5px 40px 5px 12px;
  width: 100px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.nice-select select:required:invalid {
  color: #5a667f;
}

.nice-select select option {
  color: #223254;
}

.nice-select select option[value=""][disabled] {
  display: none;
}

.nice-select select:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.nice-select select:hover + svg {
  stroke: #0077ff;
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
