.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  max-height: 90%;
  /* min-width: 700px; */
  max-width: 90%;
  overflow: auto;
  padding: 20px;
  position: fixed;

  /* transform makes text blurry, so deprecated it */
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  z-index: 999;
}

.modal h2 {
  margin-top: 0;
}

.modal p {
  margin: 0;
}
