.gear-button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform 0.7s ease-in-out;
}

.gear-button:hover {
  transform: rotate(60deg);
}

.configuration {
  font-family: "Inter, Avenir, Helvetica, Arial, sans-serif";
}

.configuration h3 {
  margin-bottom: 0.4em;
}

.configuration input {
  height: 2em;
  width: 11em;
  margin-left: 0.5em;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding-left: 5px;
}

.configuration a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  height: 1.4em;
  margin-left: 0.3em;
}

.configuration img {
  border: 0;
  height: 1em;
  width: 1em;
  display: inline-block;
}

.configuration .add-button {
  margin-bottom: 0.5em;
}

.configuration .add-button:hover{
  background-color: #007bff;
}

.configuration button {
  cursor: pointer;
  border: 0;
  color: white;
  border-radius: 5px;
  font-size: 0.8em;
}

.configuration .save {
  width: 80%;
  height: 1.5em;
  background-color: #007bff;
  border: 0;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.configuration .save:hover {
  background-color: #0062cc;
}

.configuration .exchanges {
  margin-top: 0.4em;
}

.configuration .wallets {
  margin-top: 0.4em;
}

.configuration .others {
  margin-top: 0.4em;
}