.simple-editor {
  font-family: sans-serif;
  max-width: 700px;
  margin: 10px auto;
}

.simple-editor form {
  display: flex;
  flex-direction: column;
}

.simple-editor textarea {
  min-height: 500px;
  height: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.simple-editor button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.simple-editor button:hover {
  background-color: #0062cc;
}
