.history-button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform 0.7s ease-in-out;
}

.history-button:hover {
  transform: rotate(-360deg);
}

.export {
  border: none;
  cursor: pointer;
  appearance: none;
  position: absolute;
  background-color: inherit;
  top: 5px;
  right: 0;
  padding: 10px;
}
