.historical-data-card {
  width: 60%;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 0 0 5px #ccc;

  min-width: 390px;
}

.historical-data-card:hover {
  box-shadow: 0 0 5px #aaa;

  .historical-data-card-bottom .historical-data-card-bottom-operations {
    display: flex;
  }
}

.historical-data-card-total {
  font-size: 1.4rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  float: right;
}

.historical-data-card-created-at {
  float: left;

  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* left bottom */
.historical-data-card-bottom {
  width: 100%;
  height: 40px;
  align-items: center;

  position: relative;

  display: flex;
}

.historical-data-card-bottom-operations {
  display: none;
}

/* fix bottom right */
.historical-data-card-bottom-changes {
  position: absolute;
  font-size: 0.9em;
  top: 5px;
  right: 0;
  color: gray;
}

.historical-data-detail-row {
  display: inline-block;
  height: 40px;
  font-size: 17px;
  line-height: 40px;
}
