.nice-table table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 0 5px;
}

.nice-table td {
  font-size: 15px;
  font-family: Arial;
}

.clicked {
background-color: rgb(165, 195, 215);
}