:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

.button-group button {
  font-family: BM Jua;
  color: white; /* White text */
  height: 34px;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  border: 0;
  width: 80px;
  font-size: 0.8em;
  margin: 0;
  transition: 0.5s;
}

.button-group .left {
  border-radius: 5px 0 0 5px;
}

.button-group .right {
  border-radius: 0 5px 5px 0;
}

.button-group:after {
  content: "";
  clear: both;
  display: table;
}

.button-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}


.button-group button.active {
  background-color: #007bff;
  color: white;
}
