.top-buttons-wrapper {
  position: fixed;
  top: 0px;
  width: 100%;
  left: -1px;
  z-index: 998;
  height: 40px;
  background-color: #484a54;
  box-shadow: 0 1px 5px #484a54;
}

.top-buttons-wrapper select {
  font-size: 15px;
  padding: 5px 5px 5px 10px;
}

.top-buttons-wrapper .right-buttons {
  position: fixed;
  display: inline-block;
  right: 20px;
  z-index: 999;
}

.top-buttons-wrapper .left-buttons {
  position: fixed;
  display: inline-block;
  left: 20px;
  z-index: 999;
}

.nice-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 2px;
  border: none;
  background-color: #eeeeee;
  width: 95%;
}

.menu-button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.menu {
  position: relative;
}

.menu-list {
  position: absolute;
  width: 200px;
  left: -20px;
  max-height: 0;
  background-color: #f0f0f0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  font-family: BM Jua;
}

.menu-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.menu-list li:active {
  background-color: #ccc;
}

.menu-list li:last-child {
  border-bottom: none;
}
